{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADBase</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    
    {% block extra_css %}{% endblock %}
</head>
 
    <header class="site-header 
    {% if request.resolver_match.url_name == 'home' %}
        header-home
    {% elif request.resolver_match.url_name == 'profile' %}
        site-header-lk
    {% endif %}">
        <div class="container">
            {% if user.is_authenticated %}
                {% include 'includes/header_user.html' %}
            {% else %}
                {% include 'includes/header_guest.html' %}
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</html>