{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="contacts">
    <div class="container contacts-inner">
        <div class="contacts-info">
            <h2>Контакты</h2>
            <div class="contact-item">
                <i class='bx bx-phone'></i>
                <div><span>Номер телефона</span><br>+7 (967) 899 77 55</div>
            </div>
            <div class="contact-item">
                <i class='bx bx-envelope'></i>
                <div><span>Электронная почта</span><br>info@cad_base.ru</div>
            </div>
            <div class="contact-item">
                <i class='bx bx-globe'></i>
                <div><span>Веб-сайт</span><br>www.cadbase.ru</div>
            </div>
            <div class="contact-item">
                <i class='bx bx-time-five'></i>
                <div><span>Время работы</span><br>Пн-Пт 10:00 - 18:00</div>
            </div>
        </div>
        <div class="contacts-image">
            <img src="{% static 'img/robot.png' %}" alt="Robot Helper">
        </div>
    </div>
    </section>
{% endblock %}