{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'reset_style.css' %}">
</head>
<body>
    <div class="reset-container">
        <!-- Здесь треугольник зеркальный или такой же -->
        <div class="triangle-bg" style="clip-path: polygon(100% 50%, 0 0, 0 100%); left: 0;"></div>
        <div class="content-box" style="margin-left: 0; margin-right: 30%;">
            <h2 style="font-size: 24px;">Ссылка на восстановления пароля отправлена на электронную почту!</h2>
        </div>
    </div>
</body>
</html>